<div class="index-content">
    <div class="container">
            <a *ngFor="let post of getPostsService.posts">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 item">
                    <div class="card">
                        <h5 class="card-header">Bounty: ${{ post.bounty }}</h5>
            
                        <h4 class="card-title">{{ post.title }}</h4>
                        <div class="card-text" (click)="onClick(post)">
                            <p class="card-text" [hidden]="post.collapsed">{{ post.content | abstract }}</p>
                            <p class="card-text" [hidden]="!post.collapsed">{{ post.content }}</p>
                        </div>
                        <a href="#" class="blue-button">Claim this task</a>
                    </div>
                </div>
            </a>
            

    </div>
</div>
