<form [formGroup]="dtForm">
    
    <div class="row" [hidden]="!edit" >
        <div class="col col-md-5 form-group">
            <input class="form-control" placeholder="Event name" name="eventName" formControlName="eventName">
        </div>
        <div class="col col-md-5 form-group">
            <input class="form-control" name="dateTime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [selectMode]="'range'" [min]="min" placeholder="Select a time slot" formControlName="dateTime">
            <owl-date-time #dt1></owl-date-time>
        </div>
        <div class="col col-md-1">
            <button class="btn btn-primary" [disabled]="dtForm.invalid" (click)="save()">Save</button>
        </div>

        <span class="close" (click)="close()">x</span>
        
        
    </div>
    <div class="row" *ngIf="!edit">
        <div class="col col-md-10 form-group">
            <input class="form-control" [placeholder]="placeholder" readonly (click)="edit=true">
        </div>
        <div class="col col-md-1">
            <button class="btn btn-primary" (click)="edit=true">Edit</button>
        </div>

        <span class="close" (click)="close()">x</span>
    </div> 
    <div class="alert alert-danger" *ngIf="overlap">
        The time slot of this event overlaps other events
      </div>


    
    
    
    
</form>
<!-- <button (click)="show(dt1)"></button> -->