<div class="container">
	<div class="row">
        
        
		<!-- Our Special dropdown has class show-on-hover -->
        <div class="btn-group show-on-hover">
          <!-- <div class="btn-group"> -->
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            messages <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li *ngIf="messages === null || messages?.length === 0">You don't have any messages</li>
            <li *ngFor="let message of messages"><span *ngIf="message.to._id === accountService.currentUser._id && !message.read" class="dot"></span><a (click)="openModal(message._id)"> {{ accountService.currentUser._id === message.from._id ? 'You' : message.from.username }} to {{ accountService.currentUser._id === message.to._id ? 'you' : message.to.username }}: {{message.content | abstract:10}} </a></li>
          </ul>
        </div>

	</div>
  <br>

</div>

<div *ngFor="let message of messages">
<jw-modal [id]="message._id">
    <p> {{ accountService.currentUser._id === message.from._id ? 'You' : message.from.username }} to {{ accountService.currentUser._id === message.to._id ? 'you' : message.to.username }}: {{message.content}}</p>
    <div *ngIf="accountService.currentUser._id === message.to._id && message.message_type === 1">
        <hr class="dashed">
        <span>
            <button [disabled]="message.isApproved !== null" (click)="approve(message._id, false)"> Decline <span *ngIf="message.isApproved === false">&#10004;</span></button>
            <button [disabled]="message.isApproved !== null" (click)="approve(message._id, true)"> Approve <span *ngIf="message.isApproved === true">&#10004;</span></button>
        </span>
    </div>
    <button (click)="closeModal(message._id);">Close</button>
</jw-modal>
</div>