body{
    padding:10px;
}

.show-on-hover:hover> ul.dropdown-menu {
    display: block;    
    background-color: rgb(233, 233, 233);
    margin:2px;
    padding:8px;
}

.show-on-hover> ul.dropdown-menu {
    display: none;
}
.dropdown-menu {
    position: absolute !important;
}
ul a {
    color: #343A40;
}

button.dropdown-toggle {
    color : whitesmoke;
    
}
button.dropdown-toggle:hover {
    color :gainsboro;
    cursor: pointer;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: rgb(216, 92, 92);
    border-radius: 50%;
    display: inline-block;
  }

/* .btn.dropdown-toggle {
    padding: 8px 0px;
} */

@media only screen and (max-width: 575px) {
    .btn.dropdown-toggle {
        padding: 8px 30px;
    }

}

