textarea {
    resize: none;
}
form {
    margin: 2% 10%;
}
h2 {
    text-align: center;
    margin-top: 3%;
}
p.center {
    line-height: 100px;
    text-align: center;
    margin: 0;
}
.creategroupcontainer {
    overflow: scroll;
    height: 100vh;
}