<app-modal id="signup-modal">
        <ng-container class="modal-heading">Sign up for new account</ng-container>>
        <ng-container class="modal-form">
          <form #formValue1="ngForm" (ngSubmit)="signup(formValue1) [formGroup]="signupForm">
            <div class="modal-body mx-3">
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-name-signup">Your username</label>
                <input formControlName="username" name="username" type="text" id="orangeForm-name-singup" class="form-control validate">
                <div class="alert alert-danger" *ngIf="signupForm.get('username').touched && signupForm.get('username').invalid">Username is required</div>
              </div>
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-email-signup">Your email</label>
                <input formControlName="email" name="email" type="email" id="orangeForm-email-singup" class="form-control validate">
                <div class="alert alert-danger" *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">
                  <div *ngIf="signupForm.get('email').errors.required">Email is required</div>
                  <div *ngIf="signupForm.get('email').errors.email">Invalid email format</div>
                </div>
              </div>
      
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-pass-signup">Your password</label>
                <input required ngModel name="password" type="password" id="orangeForm-pass-signup" class="form-control validate">
      
              </div>
      
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-pass-verification">Verify your password</label>
                <input required ngModel name="password-verification" type="password" id="orangeForm-pass-verification" class="form-control validate">
      
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button [disabled]="!formValue1.valid" type="submit" class="btn btn-default" routerLink="/">Sign up</button>
              </div>
      
      
            </div>
            </form>
        </ng-container>
      
      </app-modal>
      <app-modal id="login-modal">
        <ng-container class="modal-heading">Log in to your account</ng-container>
        <ng-container class="modal-form" (ngSubmit)="login(formValue2)">
          <form #formValue2="ngForm">
            <div class="modal-body mx-3">
                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="orangeForm-name-login">Your username</label>
                    <input required ngModel name="username" type="text" id="orangeForm-name-login" class="form-control validate">
          
                  </div>
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-email-login">Your email</label>
                <input required ngModel name="email" type="email" id="orangeForm-email-login" class="form-control validate">
      
              </div>
      
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-pass-login">Your password</label>
                <input required ngModel name="password" type="password" id="orangeForm-pass-login" class="form-control validate">
      
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button [disabled]="!formValue2.valid" type="submit" class="btn btn-default" routerLink="/">Login</button>
              </div>
      
      
            </div>
          </form>
        </ng-container>
      
      </app-modal>