<app-modal id="signup-modal">
        <ng-container class="modal-heading">Sign up for new account</ng-container>>
        <ng-container class="modal-form">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="modal-body mx-3">
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-name-signup">Your username</label>
                <input formControlName="username" name="username" type="text" id="orangeForm-name-singup" class="form-control validate">
                <div class="alert alert-danger" *ngIf="signupForm.get('username').touched && signupForm.get('username').invalid">
                  <div *ngIf="signupForm.get('username').errors.required">Username is required.</div>
                  <div *ngIf="signupForm.get('username').errors.notUnique">This username is already taken.</div>
                </div>

              </div>
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-email-signup">Your email</label>
                <input formControlName="email" name="email" type="email" id="orangeForm-email-singup" class="form-control validate">
                <div class="alert alert-danger" *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">
                  <div *ngIf="signupForm.get('email').errors.required">Email is required</div>
                  <div *ngIf="signupForm.get('email').errors.email">Invalid email format</div>
                </div>
              </div>
      
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-pass-signup">Your password</label>
                <input formControlName="password" name="password" type="password" id="orangeForm-pass-signup" class="form-control validate">
                <div class="alert alert-danger" *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid">
                  <div *ngIf="signupForm.get('password').errors.required">Password is required</div>
                  <div *ngIf="signupForm.get('password').errors.minlength">Password should be minimum {{ signupForm.get('password').errors.minlength.requiredLength }}</div>
                </div>
              </div>
      
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-pass-verification">Verify your password</label>
                <input formControlName="confirmPassword" name="password-verification" type="password" id="orangeForm-pass-verification" class="form-control validate">
                <div class="alert alert-danger" *ngIf="signupForm.get('confirmPassword').touched && signupForm.get('confirmPassword').invalid">
                  <div *ngIf="signupForm.get('confirmPassword').errors.required">Please verify your password</div>
  
                </div>
                <div class="alert alert-danger" *ngIf="signupForm.get('confirmPassword').touched && signupForm.errors?.passwordsShouldMatch">Passwords don't match</div>
                
      
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-default" routerLink="/">Sign up</button>
              </div>
      
      
            </div>
            </form>
        </ng-container>
      
      </app-modal>
      <app-modal id="login-modal">
        <ng-container class="modal-heading">Log in to your account</ng-container>
        <ng-container class="modal-form" (ngSubmit)="login(formValue2)">
          <form [formGroup]="loginForm" (onSubmit)="login()">
            <div class="modal-body mx-3">
                
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-email-login">Your email</label>
                <input formControlName="email" name="email" type="email" id="orangeForm-email-login" class="form-control validate">
      
              </div>
      
              <div class="md-form mb-4">
                <label data-error="wrong" data-success="right" for="orangeForm-pass-login">Your password</label>
                <input formControlName="password" name="password" type="password" id="orangeForm-pass-login" class="form-control validate">
      
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-default" routerLink="/">Login</button>
              </div>
      
      
            </div>
          </form>
        </ng-container>
      
      </app-modal>