textarea {
    resize: none;
}
form {
    margin: 2% 10%;
}
h2 {
    text-align: center;
    margin-top: 3%;
}
p.center {
    line-height: 100px;
    text-align: center;
    margin: 0;
}
.creategroupcontainer {
    overflow: scroll;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.03);
}
.return {
        display: inline-block;
        width: 10%;
        right: 10px;
        position: absolute;
        float:right;
    
}