<div class="creategroupcontainer">
    <h2>{{isMyGroups ? 'Edit' : 'Create'}} a group <button *ngIf="isMyGroups" class="btn return btn-primary" (click)="goBack()">Return</button></h2>
    
    <form [formGroup]="createGroupForm" (ngSubmit)="createOrUpdateGroup()">
      
    
        <div class="row">
          <div class="col col-md-5 form-group">
            <label for="subject">Subject</label>
            <input id="subject" type="text" class="form-control" name="subject" formControlName="subject">
          </div>
          <!-- <div class="alert alert-danger" *ngIf="createGroupForm.get('subject').touched && createGroupForm.get('subject').invalid">
            <div *ngIf="createGroupForm.get('subject').errors.required">Subject is required</div>
          </div> -->
          <div class="col col-md-2">
            <p class="center">from</p>
          </div>
          
          <div class="col col-md-5 form-group">
              <label for="university">University</label>
              <select id="university" class="form-control" name="university" formControlName="university">
                <option [selected]='!isMyGroups' disabled>Choose...</option>
                <option *ngFor="let uni of universities" [selected]="isMyGroups && uni === group.university">{{ uni }}</option>
              </select>
          </div>
          <!-- <div class="alert alert-danger" *ngIf="createGroupForm.get('university').touched && createGroupForm.get('university').invalid">
            <div *ngIf="createGroupForm.get('university').errors.required">University is required</div>
          </div> -->
          
        </div>
        <div class="alert alert-danger" *ngIf="createGroupForm.get('subject').touched && createGroupForm.get('subject').invalid">
          <div *ngIf="createGroupForm.get('subject').errors.required">Subject is required</div>
        </div>
        <div class="alert alert-danger" *ngIf="createGroupForm.get('university').touched && createGroupForm.get('university').invalid">
          <div *ngIf="createGroupForm.get('university').errors.required">University is required</div>
        </div>
          <div class="form-group">
              <label for="introduction">Introduction</label>
              <textarea id="introduction" class="form-control" name="introduction" formControlName="introduction"></textarea>
          </div>
         
          <div class="form-group">
              <label for="capacity">Capacity</label>
              <select id="capacity" class="form-control" name="capacity" formControlName="capacity">
                <option [selected]='!isMyGroups' disabled>Choose...</option>
                <option *ngFor="let i of capacityOptions" [selected]='i === group?.capacity'>{{ i }}</option>
              </select>
    
          </div>
          <div class="alert alert-danger" *ngIf="createGroupForm.get('capacity').touched && createGroupForm.get('capacity').invalid">
            <div *ngIf="createGroupForm.get('capacity').errors.required">Capacity is required</div>
            <div *ngIf="createGroupForm.get('capacity').errors.isMore">Capacity cannot be less than the number of existing members</div>
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input id="location" class="form-control" name="location" formControlName="location">
        </div>
          <app-event-form [group]="isMyGroups ? group : null"></app-event-form>
          <div class="submitDiv">
            <button  [disabled]="createGroupForm.invalid || !eventFormComponent.valid" type="submit" class="btn btn-primary">{{isMyGroups ? 'Save' : 'Create'}}</button>
        </div>
        <!-- <div class="alert alert-danger" *ngIf="createGroupForm.touched && createGroupForm.invalid">
         
            <div *ngIf="createGroupForm.get('subject').errors.required">
                Subject is required
            </div>
            <div *ngIf="createGroupForm.get('university').errors.required">
                University is required
            </div>
            <div *ngIf="createGroupForm.get('capcaity').errors.required">
                Capacity is required
            </div>
            <div *ngIf="createGroupForm.get('capacity').errors.isMore">
                Capacity cannot be less than the number of existing members
            </div>
            
          </div> -->
          <!-- <p (click)="showForm()">fwefwef</p>  -->
    
        
      </form>
      </div>