<!-- <nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" (click)="reload()">studybar</a>
      </div>
      <ul class="nav navbar-nav ml-auto">
        <li *ngIf="!accountService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/passport/signup"> Signup </a>
        </li>
        <li *ngIf="!accountService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/passport/login"> Login </a>
        </li>
        <li *ngIf="accountService.isLoggedIn" class="nav-item">
            <a class="nav-link"> {{ accountService.currentUser.username }} </a>
        </li>
        <li *ngIf="accountService.isLoggedIn" class="nav-item">
          <app-messagelist></app-messagelist>
      </li>
        <li *ngIf="accountService.isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="authService.logout()"> logout </a>
        </li>
  
      </ul>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" (click)="reload()">Studybar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto"></ul>
      <ul class="navbar-nav">
        <li *ngIf="!accountService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/passport/signup">Signup</a>
        </li>
        <li *ngIf="!accountService.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/passport/login">Login</a>
        </li>
        <li *ngIf="accountService.isLoggedIn" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Messages
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <app-messagelist></app-messagelist>
            <!-- <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>
        <li *ngIf="accountService.isLoggedIn" class="nav-item">
          <a class="nav-link">{{ accountService.currentUser.username }}</a>
        </li>
        
        <li *ngIf="accountService.isLoggedIn" class="nav-item">
          <a class="nav-link" (click)="authService.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>