.nav-link, .navbar-brand {
    color : whitesmoke !important;
}
.nav-link:hover {
    color :gainsboro !important;
    cursor: pointer !important;
}
/* .nav-item {
    padding: 8px 0px;
} */

@media only screen and (max-width: 575px) {
    .navbar-nav .nav-link {
        padding: 8px 30px;
    }

}
