<app-modal id="create-group-modal" #createGroupModal>
    <ng-container class="modal-heading">Create a new study group</ng-container>
    <ng-container class="modal-form">
        <form #formValue="ngForm" (ngSubmit)="create(formValue)">
            <div class="modal-body mx-3">
                <div *ngIf="invalidForm" class="alert alert-danger">
                    Unknown problem: study group cannot be created
                </div>

                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="subject">Subject</label>
                    <input type="text" #subject="ngModel" required maxlength="50" name="subject" id="subject"
                        class="form-control validate">
                    <div class="alert alert-danger" *ngIf="subject.touched && subject.invalid">
                        <div *ngIf="subject.errors.required">Subject is required</div>
                        <div *ngIf="subject.errors.maxlength">Subject should be maximum
                            {{ subject.errors.maxlength.requiredLength }}</div>
                    </div>
                </div>

                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="introduction">Introduction</label>
                    <textarea #introduction="ngModel" maxlength="300" name="introduction" id="introduction"
                        class="form-control validate">
            <div class="alert alert-danger" *ngIf="introduction.touched && introduction.invalid">
                <div *ngIf="introduction.errors.maxlength">Introduction should be maximum {{ introduction.errors.maxlength.requiredLength }}</div>
                </div>
            </div>

            

            <div class="md-form mb-4">
                <select #university="ngModel" name="university" id="university" class="form-control search-slt selectpicker">
                        <option value="">Select university</option>
                        <option *ngFor="let uni of universityList">{{ uni }}</option>
                    </select>
               
                </div>

                <div class="md-form mb-4">
                    <label data-error="wrong" data-success="right" for="introduction">Location</label>
                    <input type="text" 
                    #location="ngModel" 
                    required 
                    maxlength="100" 
                    name="location" id="location" class="form-control validate">
                    <div class="alert alert-danger" *ngIf="location.touched && location.invalid">
                        <div *ngIf="introduction.errors.maxlength">Location should be maximum {{ location.errors.maxlength.requiredLength }}</div>
                        </div>
                    </div>

            <div>
                <fieldset ngModelGroup="schedule">
                    <ngb-timepicker #start="ngModel" required validStartTime name="start">
                    </ngb-timepicker>
                    <div class="alert alert-danger" *ngIf="start.touched && start.invalid">
                        <div *ngIf="start.errors.required">Start time is required</div>
                        <div *ngIf="start.errors.invalidStartTime">You are selecting a time that has passed</div>
                    </div>
                
                    <ngb-timepicker #end="ngModel" required validEndTime name="end"></ngb-timepicker>
                    <div class="alert alert-danger" *ngIf="end.touched && end.invalid">
                        <div *ngIf="end.errors.required">End time is required</div>
                        <div *ngIf="end.errors.invalidEndTime">You are selecting a time that is before or equal to the start time</div>
                    </div>
                    <fieldset ngModelGroup="repeat">
                            <div class="md-form mb-4">
                                    <select ngModel name="in-built-repeat" id="in-built-repeat" class="form-control search-slt selectpicker">
                                            <option value="never">Never</option>
                                            <option *ngFor="let op of repeatOptions">{{ op }}</option>
                                        </select>
                                   
                                    </div>
                                    
                                    <fieldset ngModelGroup="custom-repeat">
                                            <div name="frequency" id="accordion">
                                                    <div class="card">
                                                            <div class="card-header" id="headingOne">
                                                              <h5 class="mb-0">
                                                                <button class="btn btn-primary" (click)="changeFrequencyLevelOne('daily')">
                                                                  Daily
                                                                </button>
                                                              </h5>
                                                            </div>
                                                        
                                                            
                                                          </div>
                                                          <div class="card">
                                                                <div class="card-header" id="headingTwo">
                                                                  <h5 class="mb-0">
                                                                    <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" (click)="changeFrequencyLevelOne('weekly')">
                                                                      Weekly
                                                                    </button>
                                                                  </h5>
                                                                </div>
                                                            
                                                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                                                  <div class="card-body">
                                                                        <select ngModel name="in-built-repeat" id="in-built-repeat" class="form-control search-slt selectpicker">
                                                                                <option value="never">Never</option>
                                                                                <option *ngFor="let op of repeatOptions">{{ op }}</option>
                                                                            </select>

                                                                  </div>
                                                                </div>
                                                              </div>
                                            </div>
                                            <div name="every"></div>
                                                    
                                                   
                                    </fieldset>
                    </fieldset>
                
                </fieldset>
            </div>

            <div class="modal-footer d-flex justify-content-center">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-default">Login</button>
            </div>
    
    
        </div>
        </form>
    </ng-container>
    
    </app-modal>