
.default {
    height: 100%;
}
/* .main-container {
    top: 56px;
    left: 160px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;

} */
.main-container {
    display: inline-block;
    height: 100vh;
    width: 80vw;
    background-color: blanchedalmond;
}