
<div class="index-content" [class.mygroups]="router.isActive('/mygroups', true)" [class.dashboard]="router.isActive('/dashboard', true)">
    <div class="container">
        <!-- <perfect-scrollbar style="max-width: 300px; max-height: 150px;" [config]="config" [scrollIndicators]="true" class="scroll-container"> -->
            <!-- <div class="scrollable-content"> -->
            <a *ngFor="let group of pageOfItems">
                <app-groupcard [group]="group" [myGroup]="router.isActive('/mygroups', true)"></app-groupcard>
            </a>
        <!-- </div> -->
          <!-- </perfect-scrollbar> -->
        
            

    </div>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="groups" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</div>
