
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" [formGroup]="signupForm" (ngSubmit)="signup()">
                            <h3 class="text-center text-info">Signup</h3>
                            <div class="form-group">
                                <label for="username" class="text-info"
                                data-error="wrong" data-success="right">Username:</label><br>
                                <input type="text" name="username" id="username" formControlName="username" class="form-control validate">
                                <div class="alert alert-danger" *ngIf="signupForm.get('username').touched && signupForm.get('username').invalid">
                  <div *ngIf="signupForm.get('username').errors.required">Username is required.</div>
                  <div *ngIf="signupForm.get('username').errors.notUnique">This username is already taken.</div>
                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="text-info" data-error="wrong" data-success="right">Email:</label><br>
                                <input type="email" id="email" class="form-control validate" formControlName="email" name="email">
                                <div class="alert alert-danger" *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid">
                                    <div *ngIf="signupForm.get('email').errors.required">Email is required</div>
                                    <div *ngIf="signupForm.get('email').errors.email">Invalid email format</div>
                                    <div *ngIf="signupForm.get('email').errors.notUnique">This email is taken</div>
                                  </div>
                            </div>


                            <div class="form-group">
                                <label data-error="wrong" data-success="right" for="password" class="text-info">Password:</label><br>
                                <input formControlName="password" name="password" type="password" id="password" class="form-control validate">
                                <div class="alert alert-danger" *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid">
                                    <div *ngIf="signupForm.get('password').errors.required">Password is required</div>
                                    <div *ngIf="signupForm.get('password').errors.minlength">Password should be at least {{signupForm.get('password').errors.minlength.requiredLength}} characters</div>
                                  </div>
                            </div>

                            <div class="form-group">
                                <label data-error="wrong" data-success="right" for="pass-verification" class="text-info">Verify your password:</label><br>
                                <input formControlName="confirmPassword" name="password-verification" type="password" id="pass-verification" class="form-control validate">
                                <div class="alert alert-danger" *ngIf="signupForm.get('confirmPassword').touched && signupForm.get('confirmPassword').invalid">
                                    <div *ngIf="signupForm.get('confirmPassword').errors.required">conformPassword is required</div>
                                    <div *ngIf="signupForm.get('confirmPassword').errors.mustMatch">Passwords should match</div>
                                  </div>
                            </div>

                            <div class="submitDiv">
                                <button  [disabled]="signupForm.invalid" type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                           
                        </form>
                        <div id="register-link" class="text-right">
                            <a routerLink="../login" class="text-info">Login here</a>
                        </div>
                        <p style="color: red">This site is only for learning purpose, please do not enter sensitive personal data in any form on this site</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
